.idea
idea/*
/.idea
/data
/output
/logs
/__pycache__
/core/__pycache__
/core/duration_modeling/__pycache__
/core/energy_predictor/__pycache__
/core/pitch_predictor/__pycache__
/dataset/__pycache__
/dataset/texts/__pycache__
/utils/__pycache__
/checkpoints
/trace_loss.txt
/unused_code.txt
/test.py
/rest_tts.py
/preprocess.py
/trace_loss_nvidia.txt
/conf
/etc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
dataset/audio/__pycache__/__init__.cpython-36.pyc
*.pyc
Untitled.ipynb
mel.npy
*.png
*.npy
Testing/2log_v2/no_exp_before_bins_fs2v2_2_31k_test_tts.wav
Testing/exp_log/test_tts.wav
Testing/exp_log_v2/exp_before_bins_fs2v2_2_31k_test_tts.wav
mel.png
mel.npy
